* {
  font-family: "Inter", sans-serif;
}

/* h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
} */

.title-login {
  font-family: "Koulen", sans-serif;
  color: #003567;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

.form > h2 {
  margin-bottom: 42px;
  font-size: 2rem;
  color: #003567;
}

.form > span {
  font-size: 1.5rem;
  color: #cdcdcd;
}

.form > input {
  width: 70%;
  height: 64px;
  display: flex;
  padding: 12px;
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  color: #000000;
}

.input-email {
  margin-bottom: 24px;
}

.form > button {
  width: 220px;
  height: 42px;
  margin-top: 32px;
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #00B2FF;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 12px;
}
.btn-login-create-forgot {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: #00b2ff;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-top: 82px;
}


@media screen and (min-width: 768px) {
  /* tablet */
  .title-login {
    color: red;
  }

  .form {
    margin-top: 15%;
  }
  .form > input {
    width: 60%;
    height: 48px;
  }
}


@media screen and (min-width: 1024px) {
  /* desktop */
  .title-login {
    color: green;
  }

  .form {
    margin-top: 7%;
  }
  .form > span {
    font-size: 1.2rem;
  }
  .form > input {
    width: 30%;
    font-size: 1.2rem;
  }
  .form > button {
    font-size: 1.2rem;
  }

  .btn-login-create-forgot {
    font-size: 1.2rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 82px;
  }



}

@media screen and (min-width: 1200px) {
  .title-login {
    color: blue;
  }
}