.title-login {
  display: flex;
   justify-content: center;
  margin-top: 72px;
  font-family: "Koulen", sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 800;
  color: #003567;
}

.form {
  display: flex;
   flex-direction: column;
   align-items: center;
  width: 100%;
  margin-top: 20%;
}

.form > h2 {
  margin-bottom: 42px;
  font-size: 2rem;
  color: #003567;
}

.form > span {
  font-size: 1.5rem;
  color: #cdcdcd;
}

.form > input {
  width: 70%;
  height: 64px;
  display: flex;
  padding: 12px;
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  color: #000000;
}

.input-email {
  margin-bottom: 24px;
}

.form > button {
  width: 220px;
  height: 42px;
  margin-top: 48px;
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #00B2FF;
}
.form > button:hover {
  background-color: #0096d6;
}

.section2 {
  display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 50px;
  margin-top: 36px;
}
.btn-login-create-forgot {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: #00b2ff;
}
.btn-login-create-forgot:hover {
  color: #0096d6;
  font-weight: 400;
}



@media screen and (min-width: 768px) {
  /* tablet */
  /* .title-login {
    color: red;
  } */

  .form {
    margin-top: 5%;
  }
  .form > input {
    width: 60%;
    height: 48px;
  }
}


@media screen and (min-width: 1024px) {
  /* desktop */
  /* .title-login {
    color: green;
  } */

  .form {
    margin-top: 7%;
  }
  .form > span {
    font-size: 1.2rem;
  }
  .form > input {
    width: 30%;
    font-size: 1.2rem;
  }
  .form > button {
    font-size: 1.2rem;
  }

  .btn-login-create-forgot {
    font-size: 1.2rem;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 82px;
  }



}

@media screen and (min-width: 1200px) {
  /* .title-login {
    color: blue;
  } */
}