.container {
  display: flex;
   flex-direction: column;
  width: 95%;
  min-height: 100px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #00000085;
}
.container > h3 {
  color: #003567;
}

.ul { 
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.li {
  padding: 5px;
  width: 95%;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #fff;
}

.form {
  display: flex;
   justify-content: center;
   gap: 12px;
  width: 95%;
}
.input_task {
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #ffffff80;
}
.btn_submit {
  border: none;
  background: none;
}


@media screen and (min-width: 768px) {
  /* tablet */

}


@media screen and (min-width: 1024px) {
  /* desktop */

}

@media screen and (min-width: 1200px) {
  /* TV */

}