.container {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  margin-top: 48px;
}

.container > h1 {
  align-self: flex-start;
  margin-left: 12%;
  margin-bottom: 12px;
  color: #003567;
}

.container > form {
  display: flex;
   justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 32px;
}

.container > form > input {
  width: 70%;
  height: 50px;
  padding: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.060);
}

.container > form > button {
  background: none;
  border: none;
  margin-left: 8px;
  font-size: 3rem;
}


@media screen and (min-width: 768px) {
  /* tablet */
  
}


@media screen and (min-width: 1024px) {
  /* desktop */
  .container > form > input {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .container > form > input {
    width: 55%;
  }
}