.div-header {
  height: 120px;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 78, 117);
}

.title-header {
  text-align: center;
  font-size: 3rem;
  font-family: "Koulen", sans-serif;
  color: #00c3ff;
}

@media screen and (min-width: 768px) {
  .title-header {
    color: red;
  }
}

@media screen and (min-width: 1024px) {
  .title-header {
    color: green;
  }
}

@media screen and (min-width: 1200px) {
  .title-header {
    color: blue;
  }
}