.container {
  display: flex;
   flex-direction: column;
   gap: 8px;
  width: 80%;
  padding: 12px;
  border-radius: 12px;
  height: 75vh;
  background-color: #0054c1;
}

.list_item {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  list-style: none;
}