.container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 8px;
  width: 600px;
  height: 38px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.050);
}

.container > input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.container > input[type="checkbox"]:checked {
  opacity: 0.4;
}

.container > button {
  background: none;
  border: none;
  font-size: 1.3rem;
}


.tasksOpened {
  display: flex;
  margin-left: 32px;
}