

.subtask {
  background: none;
  border: none;
}

.li_subtask {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;
}

.form > input {
  width: 350px;
  height: 20px;
  padding: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.050);
}

.form > button {
  
}